.row{
    margin-left: 20px;
    color: #fff;
}

.posters-wrapper{
    display: flex;
    padding: 20px;
    overflow-x: scroll;
    overflow-y:hidden ;
}

.posters-wrapper::-webkit-scrollbar{
    display: none;
}


.poster{
    cursor: pointer;
    max-height: 250px;
    margin-right: 10px;
}
.smallPoster{
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}

.poster:hover{
    transform: 2;
}


.posters-wrapper {
    display: flex;
    padding-left: 2%;
    padding-right: 2%;
    color: white;
    font-family: "Open Sans", sans-serif;
  }

  .poster-card {
    position: relative;
    display: block;
    flex: 1 1 0px;
    transition: transform 500ms;
    z-index: 65;
    margin: 0.3rem;
    cursor: pointer;
  }
  .posters-wrapper:focus-within .poster-card,
  .posters-wrapper:hover .poster-card {
    transform: translateX(-25%);
    z-index: 70;
  }
  
  .poster-card:focus ~ .poster-card,
  .poster-card:hover ~ .poster-card {
    transform: translateX(25%);
  }
  
  .posters-wrapper .poster-card:focus,
  .posters-wrapper .poster-card:hover {
    transform: scale(1.5);
  }
  
  .poster-card .img {
    display: block;
    max-width: 100%;
    min-height: 14rem;
  }
  .poster-text-wrapper {
    padding: 1rem;
    padding-bottom: 0rem !important;
    color: whitesmoke;
    position: absolute;
    bottom: 0;
    transition: 0.5s;
    opacity: 0;
    z-index: 50;
  }
  .poster-card:focus,
  .poster-card:hover  {
    opacity: 1;
  }
  .poster-card:hover  {
    opacity: 1;
  }
